{
    "parserOptions": { // 解析配置
        "ecmaVersion": 6, // es版本 - 6
        "sourceType": "module" // 资源类型 - 模块 
    },
    "rules": {
        "indent": ["error", 2], // 代码缩进 - 2个空格
        // "semi": ["error", "always"], // 是否要求代码结尾添加分号 - 总是
        "quotes": ["error", "single"], // 引号 - 单引号
        "no-console": "off" // 是否不允许console语句 - 否
    }
}

/*
  如果你用的编辑器是VSCode, 可以打开编辑器的settings.json，
  然后在里面加上如下配置，以达到保存文件时，自动按照eslint规范自动修改代码风格

  "editor.codeActionsOnSave": {
      "source.fixAll.eslint": true
    }

*/